<main class="grid">
  <div class="project">
    <% link_to 'https://drawing-sound.herokuapp.com/', target: '_blank' do %>
      <%= tag :img, :src => "images/drawingandSound.png", :class => 'grid-image' %>
    <% end %>
    <div class="text">Drawing and Sound
      <br/>
      Interactive App using socket.io, express, node.js, p5.js</div>
  </div>
  <div class="project">
    <% link_to 'https://inkspace.herokuapp.com/', target: '_blank' do %>
      <%= tag :img, :src => "images/inkspace.png", :class => 'grid-image' %>
    <% end %>
    <div class="text">Ink Space
      <br/>
      Collaborative project using Ruby on rails, p5.js, scss, jQuery and Google API.</div>
  </div>
  <div class="project">
    <% link_to 'https://rocky-gorge-25750.herokuapp.com/', target: '_blank' do %>
      <%= tag :img, :src => "images/pickitupmate.png", :class => 'grid-image' %>
    <% end %>
    <div class="text">Pick it up mate!
      <br/>
      Environmental app using Ruby on rails, Google API, Scss, Bootstrap.
    </div>
  </div>
  <div class="project">
    <% link_to 'https://misaelmp.github.io/Earth_Moon_System/', target: '_blank' do %>
      <%= tag :img, :src => "images/earthmoonsystem.png", :class => 'grid-image' %>
    <% end %>
    <div class="text">Earth-Moon System
      <br/>
      Three.js interactive project</div>
  </div>
  <div class="project">
    <% link_to 'https://misaelmp.github.io/react_weather_app/', target: '_blank' do %>
      <%= tag :img, :src => "images/weatherapp.png", :class => 'grid-image' %>
    <% end %>
    <div class="text">Weather app
      <br/>
      App using React.js, Scss and Weather API</div>
  </div>
  <div class="project">
    <% link_to 'https://misaelmp.github.io/tic_tac_toe/index.html', target: '_blank' do %>
      <%= tag :img, :src => "/images/tictactoe.png", :class => 'grid-image' %>
    <% end %>
    <div class="text">Tic Tac Toe
      <br/>
      Basic project build with Javascript</div>
  </div>

</main>
